<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Portugal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  type="text/css" href="{% static 'css/crop.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

      * {
  box-sizing: border-box;
}

  </style>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-fixed-top" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li ><a href="/distritos">Portugal</a></li>
        <li ><a href="/interesses">Interesses</a></li>
        <li ><a href="/sobre">Sobre o Site</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>
<h2 align="center">Esta aplicação web é o resultado do segundo projeto realizado no âmbito da unidade curricular Engenharia de Dados e Conhecimento.
O tema, assim como no primeiro projeto, baseia-se na exposição de informação de dados geográficos sobre o país, juntamente com algumas das suas atrações turísticas.</h2>
<br>
<h3>Ferramentas utilizadas:</h3>
<ul>
    <li>Python/Django para programação da aplicação.</li>
    <li>RDF(utilizado formato NT).</li>
    <li>Triplestore GraphDB para repositório de dados.</li>
    <li>SPARQL para pesquisa e alteração de dados na triplestore.</li>
    <li>SPARQLwrapper para integração de dados da Wikidata, para complementar a informação do nosso repositório.</li>
</ul>
<br>
<h3>Autores:</h3>
<ul>
    <li>Fábio Nunes Nº 80321</li>
    <li>Guilherme Henriques Nº 80100</li>
    <li>José Moreira Nº 79671</li>
    <li>Mariana Pinheiro Nº 80186</li>
</ul>
</html>

